In [ ]:
import mysql.connector

host = 'localhost'  # Replace with IP address 127.0.0.1
#host = '127.0.0.1' 
port = 3306
user = 'SW'
password = 'MyPassword01'
database = 'MyTestDB'  # Replace with the name of your database

def get_mysql_cn(host ,port ,user ,password ,database):
    """returns MySQL cn"""
    # Establish a connection
    cn = mysql.connector.connect(
        host=host,
        port=port,
        user=user,
        password=password,
        database=database
    )
    return cn

In [ ]:
cn = get_mysql_cn(host ,port ,user ,password ,database)

try:
    # Create a cursor
    cursor = cn.cursor()

    # Example query
    query = 'SELECT * FROM customers;'
    cursor.execute(query)

    # Fetch and print the results
    results = cursor.fetchall()
    for row in results:
        print(row)

finally:
    # Close the cursor and connection
    cursor.close()
    cn.close()

In [ ]:
import pandas as pd

cn = get_mysql_cn(host ,port ,user ,password ,database)

# Read data into a Pandas DataFrame
df = pd.read_sql(query, cn)

# Close the MySQL connection
cn.close()

# Display the DataFrame
print(df)

In [ ]:
cn = get_mysql_cn(host ,port ,user ,password ,database)

# Create a cursor
cursor = cn.cursor()

try:
    # Execute the SELECT query
    query = 'SELECT * FROM customers;'
    cursor.execute(query)

    # Fetch all rows
    rows = cursor.fetchall()

    # Get column names from cursor description
    columns = [desc[0] for desc in cursor.description]

    # Create a pandas DataFrame
    df = pd.DataFrame(rows, columns=columns)

finally:
    # Close the cursor and connection
    cursor.close()
    cn.close()

    # Display the DataFrame
    print(df)